<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
  <!--
  Customize this policy to fit your own app's needs. For more guidance, see:
      https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
  Some notes:
      * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
      * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
      * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
          * Enable inline JS: add 'unsafe-inline' to default-src
  -->
    <meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap: content:">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#2196f3">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="manifest" href="/manifest.json">

    <!-- iOS Icons -->
    <link href="images/apple-touch-icon-57x57.png" sizes="57x57" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.npg" sizes="72x72" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-114x114.png" sizes="114x114" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-144x144.png" sizes="144x144" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- iOS Splashscreens-->
    <link rel="apple-touch-startup-image" href="images/apple-touch-startup-image-640x1136.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="images/apple-touch-startup-image-750x1294.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="images/apple-touch-startup-image-1242x2148.png" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="images/apple-touch-startup-image-1125x2436.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="images/apple-touch-startup-image-1536x2048.png" media="(min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="images/apple-touch-startup-image-1668x2224.png" media="(min-device-width: 834px) and (max-device-width: 834px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="images/apple-touch-startup-image-2048x2732.png" media="(min-device-width: 1024px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)">
    <title>Guns Kill People</title>
    <link rel="stylesheet" href="css/framework7.min.css"> <!-- modified css -->
    <link rel="stylesheet" href="css/icons.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="css/addtohomescreen.css">
    <script src="js/addtohomescreen.min.js"></script>
    <script type="text/javascript" src="js/inobounce.min.js"></script>
    <style>
		.views {
			height: 100%;
			overflow: auto;
			-webkit-overflow-scrolling: touch;
			}
        body {
            background-color: #B70A00;
        }
        #app {
            display: none;
        }
    </style>
</head>
<body class="color-theme-red">
    <div id="app">
        <f7-app :params="f7params">
            <!-- Statusbar -->
            <f7-statusbar></f7-statusbar>

            <!-- Right Panel -->
            <f7-panel right reveal>
                <f7-view id="right-panel-view">
                    <f7-page>
                        <f7-navbar title=""></f7-navbar>
                        <f7-block-title>
                            <p>Testing Functions</p>
                        </f7-block-title>
                        <f7-list>
                            <f7-list-item link="#" panel-close title="Remove All Experiences" v-on:click="testingRemoveClasses()"></f7-list-item>
                            <f7-list-item link="#" panel-close title="Remove All Messages" v-on:click="testingDeleteFeedback()"></f7-list-item>
                        </f7-list>
                        <f7-block-title>
                            <p>Test As Student</p>
                            xxx
                        </f7-block-title>

                        <f7-block-title>
                            <p>Development Notes</p>
                        </f7-block-title>
                        <f7-list>
                            <f7-list-item link="/devnotes/" title="View Notes"></f7-list-item>
                        </f7-list>
                    </f7-page>
                </f7-view>
            </f7-panel>

            <!-- Tabbed Views Wrapper -->
            <f7-views> 
                <f7-view main url="/"></f7-view>
            </f7-views>
        </f7-app>
    </div>    


    <!--
     ###############################################
    #                                               #
    #  TEMPLATE : HOME                              #
    #                                               #
     ###############################################
    -->

    <template id="page-home">

    <f7-page :page-content="false">
        <f7-navbar title="Guns Kill People">
            <f7-nav-right>
                <f7-link icon-f7="info" href="/about/"></f7-link>
            </f7-nav-right>
        </f7-navbar>
        <f7-toolbar tabbar>
            <f7-link tab-link="#tab-1" tab-link-active>By Year</f7-link>
            <f7-link tab-link="#tab-2">By State</f7-link>
            <f7-link tab-link="#tab-3">By Venue</f7-link>
        </f7-toolbar>
        
        <f7-tabs>
            <f7-tab id="tab-1" class="page-content" tab-active>
                <f7-block-title>
                    Shootings by Year
                </f7-block-title>
                <f7-list>
                    <f7-list-item
                        v-for="item in filters.shootingYears"
                        :title="item"
                        :link="'/byYear/'+item+'/'"
                        >
                    </f7-list-item><br>
                </f7-list>
            </f7-tab>
            <f7-tab id="tab-2" class="page-content">
                <f7-block-title>
                    Shootings by State
                </f7-block-title>
                <f7-list>
                    <f7-list-item
                        v-for="item in filters.shootingStates"
                        :title="item"
                        :link="'/byState/'+item+'/'"
                        >
                    </f7-list-item><br>
                </f7-list>
            </f7-tab>
            <f7-tab id="tab-3" class="page-content">
                <f7-block-title>
                    Shootings by Venue
                </f7-block-title>
                <f7-list>
                    <f7-list-item
                        v-for="item in filters.shootingVenues"
                        :title="item"
                        :link="'/byVenue/'+item+'/'"
                        >
                    </f7-list-item><br>
                </f7-list>
            </f7-tab>
        </f7-tabs>









            <!-- <f7-toolbar tabbar scrollable :bottom-md="isBottom">
                <f7-link
                    v-for="(shooting, index) in shootings"
                    :key="shooting.year"
                    :tab-link="`#year-${shooting.year}`"
                    :tab-link-active="index === 0"
                    >{{shooting.year}}</f7-link>
            </f7-toolbar> -->
            <!-- <f7-tabs>
                <f7-tab
                    v-for="(shooting, index) in shootings"
                    :key="shooting.year"
                    :id="`year-${shooting.year}`"
                    class="page-content"
                    :tab-active="index === 0"
                    >

                    <f7-block-title>{{shooting.year}} Shootings</f7-block-title>
                    <f7-list>
                        <f7-list-item
                            v-for="(incident, index) in shooting.incidents"
                            :title="incident.shootings"
                            :header="incident.cleanDate"
                            :footer="incident.Address"
                            :link="'/inc/'+shooting.year+'/'+incident.__pk_location+'/'"
                            >
                        </f7-list-item><br>

-->

        </f7-page>
    </template>

    <!--
     ###############################################
    #                                               #
    #  TEMPLATE : BY YEAR                           #
    #                                               #
     ###############################################
    -->

    <template id="page-by-year">
        <f7-page>
            <f7-navbar :title="`Shootings in ${year}`" back-link=" "></f7-navbar>
            <f7-list>
                <f7-list-item
                    v-for="(incident, index) in incidents"
                    :title="incident.shootings"
                    :header="incident.cleanDate"
                    :footer="incident.Address"
                    :link="'/inc/'+incident.__pk_location+'/'"
                    >
                </f7-list-item><br>
            </f7-list>
        </f7-page>
    </template>

    <!--
     ###############################################
    #                                               #
    #  TEMPLATE : BY STATE                          #
    #                                               #
     ###############################################
    -->

    <template id="page-by-state">
        <f7-page>
            <f7-navbar :title="`Shootings in ${state}`" back-link=" "></f7-navbar>
            <f7-list>
                <f7-list-item
                    v-for="(incident, index) in incidents"
                    :title="incident.shootings"
                    :header="incident.cleanDate"
                    :footer="incident.Address"
                    :link="'/inc/'+incident.__pk_location+'/'"
                    >
                </f7-list-item><br>
            </f7-list>
        </f7-page>
    </template>

    <!--
     ###############################################
    #                                               #
    #  TEMPLATE : BY VENUE                          #
    #                                               #
     ###############################################
    -->

    <template id="page-by-venue">
        <f7-page>
            <f7-navbar :title="`Shootings in ${venue}`" back-link=" "></f7-navbar>
            <f7-list>
                <f7-list-item
                    v-for="(incident, index) in incidents"
                    :title="incident.shootings"
                    :header="incident.cleanDate"
                    :footer="incident.Address"
                    :link="'/inc/'+incident.__pk_location+'/'"
                    >
                </f7-list-item><br>
            </f7-list>
        </f7-page>
    </template>
    
    <!--
     ###############################################
    #                                               #
    #  TEMPLATE : INC PAGE                          #
    #                                               #
     ###############################################
    -->

    <template id="page-inc">
        <f7-page>
            <f7-navbar :title="inc.shootings" back-link=" "></f7-navbar>
            <f7-block strong>
                <template v-if="inc.cleanDate != null">
                    <b>Date:</b> {{ inc.cleanDate }}<br>
                </template>
                <template v-if="inc.Address != null">
                    <b>Where:</b> {{ inc.Address }}<br>
                </template>
                <template v-if="inc.totalVictims != null">
                    <br /><b>Total Victims:</b> {{ inc.totalVictims }}<br>
                </template>
                <template v-if="inc.fatalities != null">
                    <b>Total Fatalities:</b> {{ inc.fatalities }}<br>
                </template>
                <template v-if="inc.typeOfWeapons != null">
                    <b>Weapons:</b> {{ inc.typeOfWeapons }}<br>
                </template>
                <template v-if="inc.Summary != null">
                    <br /><b>Summary:</b><br />{{ inc.Summary }}<br>
                </template>
                <template v-if="inc.latitude != null">
                    <br><f7-link 
                        :href="'http://maps.apple.com/?q='+inc.latitude+','+inc.longitude"
                        icon-material="map"
                        external>&nbsp;View on Map</f7-link><br>
                </template>
            </f7-block>
            <f7-block-title>
                Congressional Representation
            </f7-block-title>
            <f7-list>
                <f7-list-item
                    v-for="(rep, index2) in inc.reps"
                    :title="rep.NameFirst+' '+rep.NameLast"
                    :header="'['+rep.Party+'] '+rep.Title"
                    :footer="rep.NRAtext"
                    :class="`nra-${rep.NRADonations}`"
                    :link="'/rep/'+rep.__pk_contact+'/'"
                    >
                    <f7-icon slot="media" material="person" :color="rep.Color"></f7-icon>
                </f7-list-item><br>
            </f7-list>
        </f7-page>
    </template>

    <!--
     ###############################################
    #                                               #
    #  TEMPLATE : REP PAGE                          #
    #                                               #
     ###############################################
    -->

    <template id="page-rep">
        <f7-page>
            <f7-navbar :title="rep.JobTitle+' '+rep.NameFirst+' '+rep.NameLast" back-link=" "></f7-navbar>
            <f7-block-title>
                {{ rep.JobTitle }}'s Position
            </f7-block-title>
            <f7-block strong>
                <template v-if="rep.PartyAffiliation != null">
                    <b>Party Affiliation:</b> {{ rep.PartyAffiliation }}<br>
                </template>
                <template v-if="rep.ElectionYear != null">
                    <b>Up For Re-Eleciton In:</b> {{ rep.ElectionYear }}<br>
                </template>
                <template v-if="rep.Position != null">
                    <b>Position on Gun Reform:</b> {{ rep.Position }}<br>
                </template>
                <template v-if="rep.Notes != null">
                    <br /><b>Comments:</b><br />{{ rep.Notes }}<br>
                </template>
            </f7-block>

            <f7-block-title>
                NRA Scorecard
            </f7-block-title>
            <f7-block strong>
                <b>Accepts NRA Donations:</b> {{ rep.NRADonations }}<br>
                <template v-if="rep.NRARating != null">
                    <b>NRA Rating:</b> {{ rep.NRARating }}<br>
                </template>
                <template v-if="rep.SumNRA != null">
                    <b>Total of Accepted NRA Donations:</b> ${{ rep.SumNRA }}<br>
                </template>
            </f7-block>

            <template v-if="(rep.Website != null) || (rep.Facebook != null) || (rep.twitter != null) || (rep.Instagram != null) || (rep.Video != null)">
                <f7-block-title>
                    Web &amp; Social Media
                </f7-block-title>
                <f7-block strong>
                    <template v-if="rep.Website != null">
                        <f7-link icon-f7="world_fill" :href="rep.Website" target="_blank" external></f7-link>&nbsp;&nbsp;&nbsp;
                    </template>
                    <template v-if="rep.Facebook != null">
                        <f7-link icon-f7="social_facebook_fill" :href="rep.Facebook" target="_blank" external></f7-link>&nbsp;&nbsp;&nbsp;
                    </template>
                    <template v-if="rep.twitter != null">
                        <f7-link icon-f7="social_twitter_fill" :href="rep.twitter" target="_blank" external></f7-link>&nbsp;&nbsp;&nbsp;
                    </template>
                    <template v-if="rep.Instagram != null">
                        <f7-link icon-f7="social_instagram_fill" :href="rep.Instagram" target="_blank" external></f7-link>&nbsp;&nbsp;&nbsp;
                    </template>
                    <template v-if="rep.Video != null">
                        <f7-link icon-f7="videocam_fill" :href="rep.Video" target="_blank" external></f7-link>
                    </template>
                </f7-block> 
            </template>
                            
            <f7-list>
                <f7-template v-for="(address, index) in rep.addresses">
                    <f7-block-title>
                        {{ address.OfficeActivity }}
                        <template v-if="address.LocationSite != null">
                            {{ address.LocationSite }}<br>
                        </template>
                    </f7-block-title>
                    <f7-block strong>      
                        {{ address.AddressStreet1 }}<br>
                        <template v-if="address.AddressStreet2 != null">
                            {{ address.AddressStreet2 }}<br>
                        </template>
                        {{ address.AddressCSZ }}
                        <template v-if="address.PhoneLocal != null">
                            <br><br>
                            <f7-link 
                                icon-f7="phone_round_fill" 
                                :href="address.PhoneLink" 
                                target="_blank"
                                external>&nbsp;{{ address.PhoneLocal }}</f7-link>
                        </template>
                </f7-block>
                </f7-template>

            </f7-list>
        </f7-page>
    </template>

    <!--
     ###############################################
    #                                               #
    #  TEMPLATE : ABOUT PAGE                        #
    #                                               #
     ###############################################
    -->

    <template id="page-about">
        <f7-page>
        <f7-navbar title="About the App" back-link=" "></f7-navbar>
        <f7-block-title>About the App</f7-block-title>
        <f7-block strong>
                <!-- <p>You can go <f7-link back>back</f7-link>.</p> -->
                <p>Mauris posuere sit amet metus id venenatis. Ut ante dolor, tempor nec commodo rutrum, varius at sem. Nullam ac nisi non neque ornare pretium. Nulla mauris mauris, consequat et elementum sit amet, egestas sed orci. In hac habitasse platea dictumst.</p>
                <p>Fusce eros lectus, accumsan eget mi vel, iaculis tincidunt felis. Nulla tincidunt pharetra sagittis. Fusce in felis eros. Nulla sit amet aliquam lorem, et gravida ipsum. Mauris consectetur nisl non sollicitudin tristique. Praesent vitae metus ac quam rhoncus mattis vel et nisi. Aenean aliquet, felis quis dignissim iaculis, lectus quam tincidunt ligula, et venenatis turpis risus sed lorem. Morbi eu metus elit. Ut vel diam dolor.</p>
            </f7-block>
        </f7-page>
    </template>


    <!--
     ###############################################
    #                                               #
    #  TEMPLATE : PAGE NOT FOUND                    #
    #                                               #
     ###############################################
    -->
    <template id="page-not-found">
        <f7-page>
        <f7-navbar title="Not found" back-link=" "></f7-navbar>
        <f7-block strong>
            <p>Sorry</p>
            <p>Requested content not found.</p>
        </f7-block>
        </f7-page>
    </template>

    <!-- Cordova -->
    <!--
    <script src="cordova.js"></script>
    -->
    <!-- Framework7 library -->
    <script src="js/framework7.min.js"></script>
    <!-- Vue -->
    <script src="js/vue.min.js"></script>
    <!-- Framework7-Vue plugin -->
    <script src="js/framework7-vue.min.js"></script>
    <!-- Your custom app scripts -->
    <script src="js/configuration.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
